:root {
  --header-height: 60px;
  --primary-color: #1161ff;
  --border-radius: 4px;
  --font-family: 'PingFangSC-Regular', -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}
